.wrapsite{
	padding-top: 60px;
}
.topline{
	background: #0E2B4D;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	width: 100%;
	//@include transition(all .3s ease-in-out);
	.topline__toggleaside{
		position: fixed;
		top: 21px;
		left: 24px;
		@include s(togglesidebar);
		cursor: pointer;
		z-index: 40;
		opacity: 0;
	}
	&:hover{
		.topline__toggleaside{
			opacity: 1;
		}
	}
	.topline__in{
		@extend %in;
	}
	.topline__head{
		float: left;
		font-size: 15px;
		color: #ffffff;
		position: relative;
		height: 60px;
		line-height: 60px;
		display: inline-block;
		text-decoration: none;
		padding-right: 23px;
		margin-right: 23px;
		&:before{
			border-left: 1px solid #1E3D63;
			position: absolute;
			right: 0;
			content: ' ';
			height: 20px;
			top: 21px;
			width: 1px;
		}
		.topline__logo{
			position: absolute;
			left: -56px;
			top: 13px;
			display: inline-block;
			@include s(orel);
			@include r(wide){
				left: -56px + 20px;
			}
		}
	}
	.topline__nav{
		list-style: none;
		font-size: 15px;
		margin-right: -20px;
		li{
			float: left;
			margin-right: 21px;
			height: 60px;
			line-height: 60px;
		}
		a{
			color: #a0afc3;
			text-decoration: none;
			&:hover, &.is-active{
				color: #fff;
			}
			&.topline__search{
				//color: #68788F;
			}
		}
	}
}

.footer{
	background: #091B30;
	padding: 50px 0;
	font-size: 12px;
	color: #697891;
	line-height: 1.4;
	.footer__in{
		@extend %in;
		position: relative;
	}
	.footer__col{
		width: 150px;
		float: left;
		margin-bottom: 38px;
		margin-right: 20px;
		&.footer__col_last{
			float: right;
			margin-right: 0;
			padding-bottom: 100px;
		}
	}
	h3{
		font-size: 16px;
		@include frank;
		font-weight: normal;
		color: #a0afc3;
		line-height: 1.3;
		margin-bottom: 30px;
		margin-right: 24px;
		a{
			text-decoration: none;
			color: #697891;
			&:hover{
				color: #c2c6d2;
			}
		}
	}
	ul{
		list-style: none;
		margin-bottom: 36px;
		li{
			margin-bottom: 1.1em;
		}
		a{
			color: #697891;
			text-decoration: none;
			&:hover{
				color: #a0afc3;
			}
		}
		.footer__currentsite{
			a{
				color: #a0afc3;
			}
			span{
				display: block;
				color: #324866;
			}
		}
	}
	.footer__copy{
		clear: both;
		position: relative;
		top: -15px;
		span{
			display: block; 
			// margin-top: 1em;
		}
	}
	.footer__special{
		position: relative;
		i{
			position: absolute;
			@include s(special);
			top: 3px;
			left: -34px;
			opacity: .3;
		}
	}
	.footer__license{
		margin-top: 60px;
		i{
			display: inline-block;
			@include s(cc);
			margin-bottom: 8px;
			display: inline-block;
		}
	}
	.footer__logo{
		position: absolute;
		right: 34px;
		// bottom: 50px;
		bottom: 0;
		@include s(bigorel);

	}
}

