// all the layout magic is here

// site layout
%in{
	width: 680px;
	margin-left: 120px;
	@include r(med){
		margin: 0 auto;
	}
	// @include r(wide){
	// 	margin-left: 40px; 
	// }
}




// reader layout
.is-reading{
	overflow: hidden;
	@include r(wide){
		overflow: auto;
	}
}
.read__wrap{
	position: fixed;
	top: 100px;
	bottom: 0;
	height: auto;
	right: 0;
	left: 0;
	overflow: auto;
	z-index: 200;
	display: none;
	@include r(notwide){
		height: auto !important;
		top: 100px !important;
	}
	.is-reading &{
		display: block;
	}
	// @include r(wide){
	// 	left: 760px;
	// 	right: 40px;
	// 	// bottom: auto;

	// 	// overflow: visible;

	// 	overflow: auto;
	// }
}
.read__overlay{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: rgba(#000, .5);
	@include r(wide){
		display: none;
	}
}
.read{
	width: 680px;
	//margin: 20px auto 50px auto;
	position: relative;
	z-index: 10;
	min-width: 560px;
	//max-width: 760px;
	margin-left: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	@include r(med){
		margin: 0 auto;
	}
	@include r(wide){
		width: auto;
	}
}
