.read{
	background: #fff;
	box-shadow:0 0 15px rgba(#000, .4);
	.read__top{
		background: #E8E8EC;
		height: 60px;
		*{
			display: none;
		}
	}
	.read__updated{
		position: absolute;
		bottom: -30px;
		right: 17px;
		font-size: 11px;
		color: #aaafb6;
	}
	.read__in{
		padding: 25px 40px;
	}
	.read__meta{
		font-size: 11px;
		color: #aaafb6;
		margin-bottom: 22px;
	}
	.read__published{
		margin-right: 14px;
		display: inline-block;
	}
	.read__location{
		display: inline-block;
		i{
			display: inline-block;
			@include s(geo);
			position: relative;
			top: 2px;
			margin-right: 6px;
		}
	}
}
.read__content{
	font-size: 15px;
	color: #2d3746;
	line-height: 1.4em;
	h1{
		font-size: 39px;
		color: #2d78e1;
		line-height: 1.1;
		margin-bottom: 22px;
		font-weight: normal;
		@include frank;
	}
	.lead{
		color: #2d78e1;
		font-size: 24px;
		font-weight: normal;
		line-height: 1.1;
		margin-bottom: 23px;
		@include frank;
	}
	p{
		margin-bottom: 1.5em;
	}
	ul,ol{
		margin: 1em 2em;
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	.slider{
		margin: 0 -40px;
		img{
			display: block;
			width: 100%;
		}
	}
	blockquote{
		float: right;
		width: 50%;
		@include box-sizing(border-box);
		border-left: 1px solid #E8E8EC;
		padding: 10px 0 10px 30px;
		margin: 5px 0 10px 10px;
		@include frank;
		font-size: 23px;
		color: #2d78e1;
		line-height: 1.1;
		p{
			margin: 0;
		}
	}
}
